.homepage_background {
  background-image: url("../../../public/assets/ranurte-OVz8bPZfTPc-unsplash.jpg") !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; 
}