:root {
  font-family: 'Vollkorn', sans-serif;
  font-size: 16px;
  --seasalt: #F8F8F8ff;
  --brown-sugar: #B25F3Bff;
  --ash-gray: #B8BBADff;
  --chamoisee: #93765Cff;
  --viridian: #1D7E62ff;
  --black-olive: #383526ff;
  --gamboge: #E9A141ff;
}

button:hover {
  background-color: var(--ash-gray);
}

button:active {
  background-color: var(--ash-gray);
}

button:focus {
  background-color: var(--ash-gray);
}