:root {
  font-family: 'Vollkorn', sans-serif;
  font-size: 16px;
  --seasalt: #F8F8F8ff;
  --brown-sugar: #B25F3Bff;
  --ash-gray: #B8BBADff;
  --chamoisee: #93765Cff;
  --viridian: #1D7E62ff;
  --black-olive: #383526ff;
  --gamboge: #E9A141ff;
}

#search_text_frame {
  background-color: var(--brown-sugar);
  padding: 1rem;
  border-radius: 0.625rem;
  justify-content: right;
  height: fit-content;
  min-width: fit-content;
  margin: 0.5rem;
}

#search_text_box {
  background-color: var(--seasalt);
  padding: 1rem;
  border-radius: 0.625rem;
  margin-top: 2%;
  margin-right: 2%;
  padding-top: 4%;
}

#card_tray {
  margin: 1rem;
}